/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */

/* https://www.w3schools.com/css/css_howto.asp */

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

input {
/* float: right; */
}