<!DOCTYPE html>
<!--
  Team fourCoffeePeanuts: Ryan Wang (PM), Eliza Knapp, Yaying Liang Li, Jesse Xie
  SoftDev
  P00 -- Move Slowly and Fix Things
-->


<html>
  <head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/my_style.css">
    <title>Change Password</title>
    <h1>Change Password</h1>
  </head>

  <body>
    <h2>{{error}}</h2>
    <form action="/submit_change_password" method="POST">
      <p>username:<input type="text" name="username"> </p>
      <p>new password:<input type="password" name="password1"></p>
      <p>retype password:<input type="password" name="password2"></p>
      <input type="submit" name="sub1">
    </form>
  </body>

</html>
