<!DOCTYPE html>
<!--
  Team fourCoffeePeanuts: Ryan Wang (PM), Eliza Knapp, Yaying Liang Li, Jesse Xie
  SoftDev
  P00 -- Move Slowly and Fix Things
-->


<html>

  <head>
    <title>
      Create Story
    </title>
    <h1> Create Story </h1>
  </head>

  <body>
    <h2>{{error}}</h2>
    <form action="/submit_create_story" method="POST">
      <p>Title:<input type="text" name="title"></p>
      <p>Story Text:<input type="text" name="story"></p>
      <input type="submit">
    </form>
    
  </body>

</html>
