<!DOCTYPE html>
<!--
  Team fourCoffeePeanuts: Ryan Wang (PM), Eliza Knapp, Yaying Liang Li, Jesse Xie
  SoftDev
  P00 -- Move Slowly and Fix Things
-->


<html>
  <!-- https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro -->
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    
    input {
      float: right;
    }
  </style>

  <head>
    <title>
      Dashboard
    </title>
    <h1> Dashboard </h1>
  </head>

  <body>
    <form action="/create_story">
      <input type="submit" value="Create Story">
    </form>

    <form action="/see_stories">
      <input type="submit" value="See Stories">
    </form>

    <form action="/logout" method="POST">
      <input type="submit" value="Log Out">
    </form>

    <h2>What's good, {{username}}?</h2>

    <!-- WE REMEMBER OUR ROOTS -->
    <pre>
      ,+.    ,+.    ,+.    ,+.   
      ((|))  ((|))  ((|))  ((|))  
      )|(    )|(    )|(    )|(   
      ((|))  ((|))  ((|))  ((|))  
      `-'    `-'    `-'    `-'   
          (  )   (   )  )
            ) (   )  (  (
            ( )  (    ) )
            _____________
          <_____________> ___
          |             |/ _ \
          |               | | |
          |               |_| |
        ___|             |\___/
        /    \___________/    \
        \_____________________/
    </pre>

    <h2>Stories List Below (added/contributed to, cannot update)</h2>

    {% if (num_stories == 1) %}
      <h2>You have contributed {{num_stories}} story</h2>
    {% else %}
      <h2>You have contributed {{num_stories}} stories</h2>
    {% endif %}

    <table style="width:100%">
      <tr>
        <th>Title</th>
        <th>Latest Update</th>
        <th>Full Story</th>
      </tr>
      {% if (num_stories != 0) %}
        {% for story_info in stories_list %}
          <tr>
            <td>{{story_info[0][0]}}</td>
            <td>{{story_info[0][1]}}</td>
            <td>
              <form action="/full_story" method="post">
                <input type="hidden" name="story_title" value="{{story_info[0][0]}}">
                <input type="hidden" name="full_story" value="{{story_info[0][2]}}">
                <input type="submit" value="Full Story">
              </form>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <td></td>
        <td></td>
        <td></td>
      {% endif %}
    </table>

    <br>
    <br>

    <h2>All stories list below (for debugging)</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Latest</th>
        <th>Full</th>
      </tr>

      {% for story_info in db_stories_list%}
      <tr>
        {% for col in story_info %}
          <td>{{col}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <br>
    <br>

    <h2>Users list below (for debugging)</h2>
    <table>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Stories</th>
      </tr>

      {% for user_info in users_list %}
      <tr>
        {% for col in user_info %}
          <td>{{col}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <br>
    <br>

  </body>

</html>
