<!DOCTYPE html>
<!--
  Team fourCoffeePeanuts: Ryan Wang (PM), Eliza Knapp, Yaying Liang Li, Jesse Xie
  SoftDev
  P00 -- Move Slowly and Fix Things
-->


<html>

  <head>
    <link rel="stylesheet" href="static/css/my_style.css">
    <title>
      {% if (create) %}
      Create Account
      {% else %}
      Login
      {% endif %}
    </title>
    <h1>{{ error }}</h1>
  </head>

  <body>
    <form action="/">
      <input type="submit" value="Return to Home Page">
    </form>

    {% if (create) %}

    <h1> Create Account </h1>
    <form action="/submit_create_account" method="POST">
      <p>username:<input type="text" name="username"> </p>
      <p>password:<input type="password" name="password"></p>
      <p>re-type password:<input type="password" name="same_password"></p>
      <input type="submit" name="sub1">
    </form>

    {% else %}

    <h1> Login </h1>
    <form action="/submit_login" method="POST">
      <p>username:<input type="text" name="username"> </p>
      <p>password:<input type="password" name="password"></p>
      <input type="submit" name="sub1">
    </form>
    <br>
    <br>

    <form action="/change_password" method="POST">
      <input type="submit" value="Change Password">
    </form>
    <br>

    {% endif %}
    
  </body>

</html>
