<!DOCTYPE html>
<!--
  Team fourCoffeePeanuts: Ryan Wang (PM), Eliza Knapp, Yaying Liang Li, Jesse Xie
  SoftDev
  P00 -- Move Slowly and Fix Things
-->


<html>

  <head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/my_style.css">
    <title> Main Page </title>
  </head>

  <body>
    <h1> Welcome to StoryBrew </h1>
    <h2> Interact with other users to create the best story! <br> Create your very own story or add on to someone else's.</h2>
    <h3>
      <a href="/login">Login</a>
      or
      <a href="/create_account">Create Account</a> to begin!
    </h3>
  </body>

</html>
